*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 15px;
}
body {
    background-color:hsl(36, 100%, 99%) ;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.container {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas: "header header header" "txtc txtc aside" "txtc txtc aside" "footer footer footer";
    gap: 25px;
}
/* Header - navbar */
header {
    grid-area: header;
    margin-top: 50px;
}

.navbar-desk{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.navbar-mob {
    display:none;

}

.menu {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 60px;
}

li {
    list-style: none;
    padding: 15px;
}

a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

.menu a:hover{
    color: hsl(5, 85%, 63%) ;
}

/* Main Text Section*/

.text-container {
    grid-area: txtc;
}

.txt-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-title{
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 5px;
}

.main-text{
    margin-top: 30px;
    line-height: 4vh;
}

img, picture{
    display: block;
    width: 100%;
}

/* sidebar- aside section */
aside{
    grid-area: aside;
    height: fit-content;
    background-color:hsl(240, 100%, 5%);
    width: 100%;
    padding: 20px;
    color: hsl(236, 13%, 42%);
}

aside h2{
    color: hsl(35, 77%, 62%);
}

aside h4{
    color: hsl(36, 100%, 99%);
    margin: 10px 0;
}

aside h4:hover{
    color: hsl(35, 77%, 62%) ;
}

.sidebar-content{
    margin: 20px 0;
}
.sidebar-content p{
    line-height: 1.7rem;
}

button{
    background-color: hsl(5, 85%, 63%) ;
    color:hsl(36, 100%, 99%);
    padding: 15px 20px;
    letter-spacing: 5px;
    margin-top: 40px;
    border: none;
}

button:hover{
    background-color:hsl(240, 100%, 5%) ;
    cursor: pointer;
}

hr{
    margin: 30px 5px;
    color:hsl(233, 8%, 79%);
}

/* Footer Section */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    grid-area: footer;
}

footer article {
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 25px;
}

footer h2 {
    color:hsl(233, 8%, 79%);
    font-size: 2.5rem;
}

footer a {
    color:hsl(240, 100%, 5%);
}

footer a:hover {
    color:hsl(5, 85%, 63%);
}

footer h3 {
    margin: 10px 0;
    font-weight:800;
}

footer p {
    line-height: 1.5rem;
}

footer img{
    height: 30vh;
    width: 10vw;
}

/* Responsive screens section */

@media only screen and (max-device-width: 720px) {
    .navbar-desk {
        display:none;
    }
    
    header {
        width: 100%;
        margin-top: 20px;
    }
    .logo {
        width: 20%;
    }
    
    .navbar-mob {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 400px;
    }
    .txt-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .main_text {
        margin-top: 0px;
    }

    button {
        margin-top: 25px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    
    footer img{
        width: 25vh;
        justify-content: fit-content;
    }
}
